<launch>

    <include file="$(find turtlebot_bringup)/launch/minimal.launch" />

    <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
        <arg name="map_file" value="/home/turtlebot/catkin_ws/src/p2_ponce_digiugno/maps/jakedavid.yaml" />
    </include>

    <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch" />

    <node pkg="p2_ponce_digiugno"
          type="goal_sequence.py"
          name="goal_sequence"
          output="screen" />

</launch>
